
@media(max-width: 991px){
  .list.list-columns-4, 
  .list.list-columns-5{
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}
}

@media(max-width: 767px){
  .list.list-columns-4, 
  .list.list-columns-5,
  .list.list-columns-3{
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
}

@media(max-width: 540px){
  .list.list-columns-4, 
  .list.list-columns-5,
  .list.list-columns-3,
  .list.list-columns-2{
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}
}

@media(max-width: 1170px){
  .list.list-columns-5{
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}