body
{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #303030;
    font-family: 'Open Sans', sans-serif;
}

.card
{
    max-width: 600px;
    padding: 10px 40px 40px 40px;
    background-color: #303030;
    margin: 0 auto;
    margin-top: 3%;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)

}
.login_heaing
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    padding-bottom:1px;
    text-transform: uppercase;
    color: #d9d9d9;
    letter-spacing: 1px;
}
#login_bottm
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-bottom:20px;
    font-size: 14px;
    color: #d9d9d9;
    letter-spacing: 1px;
}
#login_bottm a
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-bottom:20px;
    font-size: 16px;
    color: #0084ff;
    letter-spacing: 1px;
}
#login_bottm a:hover
{
    text-decoration: underline;
}
.input_title
{
  font-family: 'Open Sans', sans-serif;
    padding-bottom: -10px;
    padding-top: 20px;
    color: #d9d9d9;
}

#inputPassword,
#inputEmail,
#in
{
    font-size: 12px;
    height: 40px;
    direction: ltr;
    padding: 15px;
    background-color: #2A2A2A;
    color: #d9d9d9;
    border: 2px solid rgba(42,42,42,0);
    letter-spacing: 1.5px;
}

.form-signin #inputEmail:focus,
.form-signin #inputEmail:active,
.form-signin #inputEmail:hover,
.form-signin #inputPassword:focus,
.form-signin #inputPassword:active,
.form-signin #inputPassword:hover
{
    border: 2px solid rgba(42,42,42,0);
}


.btn.btn-signin
{
    /*background-image: linear-gradient(-180deg, #3fc67c 2%, #2aa461 98%);*/
    background-color: #525252;
    color: #d9d9d9;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    height: 38px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    text-transform:  uppercase;
    letter-spacing: .5px;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus
{
     color: #fff;
     background-color: #302f2f;
     -moz-border-radius: 2px;
     -webkit-border-radius: 2px;
     border-radius: 2px;
    -moz-box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.3);
}
.btn-btn
{
    padding-top: 25px;
    padding-bottom: 50px;
}